.title_Name{
    background: black;
    margin: 0;
    padding: 0;
}
.title_Name h1{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    color: rgb(254,42,248);
}